.tweet-container {
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tweet-user-info {
  margin: 10px 20px 0px;
  display: flex;
  align-items: center;
}

.tweet-user-profile {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
}

.tweet-user-name-container {
  color: white;
  margin-left: 8px;
}

.tweet-user-fullname {
  font-size: 15px;
}

.tweet-user-username {
  font-size: 12px;
}

.tweet-images-container {
  margin: 20px 20px 0 20px;
  height: 200px;
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.tweet-image {
  background-image: url('https://images.unsplash.com/photo-1646309692295-44187932d99b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
  flex-basis: 50%;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.tweet-text-container {
  font-size: 15px;
  margin: 20px 20px 0 20px;
  color: rgba(255, 255, 255);
}

.tweet-date-container {
  font-size: 12px;
  margin: 10px 20px 10px;
  color: #47525d;
}
